

@main("Login"){
    <div class="row">
        <div class="col-sm-4 col-sm-offset-1">
            <div class="login-form"><!--login form-->
                <h2>Login to your account</h2>
                <form action="@routes.HomeController.checkLogin()" method="post">
                    <input placeholder="Email Address" type="email" name="email">
                    <input placeholder="Password" type="password" name="password">
                    <span>
                        <input class="checkbox" type="checkbox">
                        Keep me signed in
                    </span>
                    <button type="submit" class="btn btn-default">Login</button>
                </form>
            </div><!--/login form-->
        </div>
        <div class="col-sm-1">
            <h2 class="or">OR</h2>
        </div>
        <div class="col-sm-4">
            <div class="signup-form"><!--sign up form-->
                <h2>New User Signup!</h2>
                <form action="@routes.HomeController.addPerson()" method="post">
                    <input placeholder="Name" type="text" name="name">
                    <input placeholder="Email Address" type="email" name="email">
                    <input placeholder="Password" type="password" name="password">
                    <button type="submit" class="btn btn-default">Signup</button>
                </form>
            </div><!--/sign up form-->
        </div>
    </div>
}